.App {
  font-family: sans-serif;
  border: 1px solid rgb(90, 90, 90);
  background-image: linear-gradient(
    to top,
    #bdc2e8 0%,
    #bdc2e8 1%,
    #e6dee9 100%
  );
}
.App h1 {
  position: relative;
  left: 55px;
  top: 90px;
}

body {
  width: 720px;
  margin-left: 60px;
  margin-top: 60px;
}
